:root {
    --purple: #9846A0;
    --white: #fff;
    --dark-purple: #793880;
    --light-purple: #A258A9;
    --gray: #CECBCB;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    font-family: "PT Sans", sans-serif;
    background: linear-gradient(90deg, #46A098 0%, #54A654 100%);
    color: var(--white);
}

header {
    background-color: var(--purple);
    padding: 1rem;
}

header a {
    text-decoration: none;
    display: block;
    color: var(--white);
}

.menu {
    line-height: 3.5rem;
    text-align: center;
}

header nav {
    position: absolute;
    top: 4.9375rem;
    left: 0;
    background-color: var(--purple);
    width: 100vw;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease-in-out;
}

ul {
    font-size: 1.125rem;
}

ul li {
    border-bottom: 1px solid var(--gray);
    border-top: 1px solid var(--gray);
    width: 90%;
    /* 288px / 320px = 0.9 so 90% of space taking */
    margin: 0 auto;
}

.show-nav {
    max-height: 100vh;
    padding-bottom: 2.5rem;
}

.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

section {
    padding: 0 16px;
}

h1 {
    font-size: 2rem;
    line-height: 1;
    font-weight: 400;
    margin-top: 2rem;
}

strong {
    font-size: 2.5rem;
}

p {
    margin-top: 1.5rem;
}

section a {
    display: block;
    margin-top: 2.5rem;
    background-color: var(--purple);
    padding: .75rem 1.5rem;
    max-width: 15.0625rem;
    text-align: center;
    text-decoration: none;
    color: var(--white);
}

button {
    background-color: var(--purple);
    border: none;
    padding: 0;
}

/* 320px done!--------------------------- */

@media (min-width: 48.75rem) {

    .toggle-btn {
        display: none;
    }

    header nav {
        /* we need to return everything back into html use position static */
        position: static;
        max-height: unset;
        overflow: visible;
        width: 100%;
    }

    .flex-container {
        flex-direction: column;
        gap: .5rem;
    }

    .menu {
        display: flex;
        gap: 4rem;
    }

    ul li {
        width: auto;
        border: none;
        line-height: 3.5rem;
    }

    .menu a:hover {
        background-color: var(--light-purple);
        padding: 0 .5rem;
        border-radius: .3125rem;
    }

    section a:hover {
        background-color: var(--dark-purple);
    }

    .inner-container h1,
    .inner-container p {
        max-width: 30.5rem;
    }
}

@media (min-height: 64.8125rem) {



}