:root {
    --purple: #9846A0;
    --white: #fff;
    --dark-purple: #793880;
    --light-purple: #A258A9;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    font-family: "PT Sans", sans-serif;
    background: linear-gradient(90deg, #46A098 0%, #54A654 100%);
    color: var(--white);
}

header {
    background-color: var(--purple);
}

header a {
    text-decoration: none;
    display: block;
}

.menu {
    line-height: 3.5rem;
    text-align: center;
}

header nav {
    position: absolute;
    top: 4.125rem;
    left: 0;
    background-color: var(--purple);
    width: 100vw;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease-in-out;
}





